* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 5rem;
}

.navbar-brand{
 margin-left: 20px;
}

.nav-item {
  margin-right: 50px
}

.collapse{
  display: flex;
  justify-content: flex-end;

}

.menu-container {
  display: flex;
  background-color: #2ed47b;
  color: #ffff;
  height: 5rem;
  justify-content: space-around;
  align-items:center;
}

.nome {
  display: flex;
  justify-content: center;
}

.links{
  display: flex;
  justify-content: center;
}

.figa {
  margin-left: 40px;
  margin-right: 20px;
}

.viaggi {
  margin-left: 40px;
}

.sfondo{
  height: 400px;
}

.container-bio{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.bio{
  background-color: #F8F8FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
  width: 96%;
  border-radius: 20px;
  background-color: #F5F5F5;
}

.container-foto{
  display: flex;
  justify-content: center;
  margin: : 3rem;
}

.foto-profilo{
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.intro{
padding: 1rem;
}

@media screen and (max-width: 426px){
  .bio{
    background-color: #F8F8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
    width: 96%;
    border-radius: 20px;
    background-color: #F5F5F5;
  }
}
