* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 5rem;
}

.navbar-brand{
 margin-left: 20px;
}

.nav-item {
  margin-right: 50px
}

.collapse{
  display: flex;
  justify-content: flex-end;

}

.menu-container {
  display: flex;
  color: #ffff;
  height: 5rem;
  justify-content: space-around;
  align-items:center;
}

.nome {
  display: flex;
  justify-content: center;
}

.links{
  display: flex;
  justify-content: center;
}

.viaggi {
  margin-left: 40px;
}

.sfondo{
  height: 400px;
}

.container-bio{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.bio{
  background-color: #F8F8FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
  width: 95%;
  border-radius: 20px;
  background-color: #F5F5F5;
}

.container-foto{
  display: flex;
  justify-content: center;
  margin: : 3rem;
}

.foto-profilo{
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.intro{
padding: 1rem;
}

.container-sections{
  display: flex;
  justify-content: center;
  height: 40rem;
}

.sections{
  display: flex;
  background-color: #F5F5F5;
  width: 95%;
  border-radius: 20px;
  justify-content: center;
}


.head-sections{
  padding: 50px;
}

.card {
  border-radius: 20px;
  display: flex;
  }

.card-position{
  display: flex;
  justify-content: center;
  height: 27rem;
}

.card-img-top{
  padding: 20px;
}

.container-work{
  display: flex;
  justify-content: center;
}

.work {
  display: flex;
  background-color: #F5F5F5;
  width: 95%;
  border-radius: 20px;
  justify-content: center;
}

.head-work{
  padding: 50px;
}

.carousel-inner{
  width: 30px
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-item img {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-bottom: 150px;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  color: #000000;
  position: absolute;
  left: 200px
  }

  .head-work {
    padding: 50px;
  }

.container-viaggi {
  display: flex;
  justify-content: center;
  width: 95%;
}

.intro-viaggi{
  display: flex;
  background-color: #F5F5F5;
  width: 95%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.intro-viaggi-text {
  padding: 50px;
}

.container-img-viaggi {
  display: flex;
  justify-content: center;
}

.img-viaggi {
  display: flex;
  justify-content: center;
  height: 70%;
}

.immagini {
  height: 50px;
  border-radius: 20px;
  padding: 5px;
}

.profilo-viaggi {
  display: flex;
  justify-content: center;
}

.container-profilo-social{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profilo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px;
}

.container-social-icons {
  display: flex;
  justify-content: space-around;
}

.horizontal-social-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  width: 75px;
  height: 75px;
}

.social-name {
  padding: 20px;
  font-weight: bold;
  font-style: oblique;

}



@media screen and (max-width: 769px){
  .img-viaggi{
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 426px){
  .bio{
    background-color: #F8F8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
    width: 96%;
    border-radius: 20px;
    background-color: #F5F5F5;
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .container-sections{
    display: flex;
    justify-content: center;
    height: 120rem;
  }

  .img-viaggi{
    display: flex;
    flex-direction: column;
  }

  .container-social-icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

}
